body {
    margin: 0;
    padding: 0;
    background-image: url('/images/np_file_229530.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }